*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background-color: rgb(96, 219, 47);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

h1 {
    font-size: 2em;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(rgb(96, 219, 47), rgb(19, 146, 14));
    color: white;
    margin: 0;
    padding: 1em 0 1em 0;
}

h2 {
    color: rgb(138, 138, 138);
    font-size: 1.8em;
}

h3 {
    color: #25DB30;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: 1.7em;
}

h4 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.2em;
    color: rgb(100, 100, 100)
}

section:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5em;
    margin-bottom: 0;
    height: 100%;
    background-color: white;
}

section:first-of-type p {
    font-family: sans-serif;
    color: #25DB30;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

section:first-of-type img {
    width: 100%;
}

section:first-of-type p::before {
    content: '';
    position: absolute;
    background-color: #25DB30;
    width: 45%;
    left: 0;
    height: .1em;
}

section:first-of-type p::after {
    content: '';
    position: absolute;
    background-color: #25DB30;
    width: 45%;
    right: 0;
    height: .1em;
}

#container video {
    width: 100%;
    z-index: 0;
    position: relative;
    border-radius: .5em;
}

#container {
    position: relative;
    display: flex;
    align-items: center;justify-content: center;
    padding: 0;
    margin-bottom: 1.5em;
}

section {
    font-family: sans-serif;
}

section:first-of-type img {
    width: 100vw;
    height: 22em;
    display: inline-flex;
    object-fit: cover;
}

#container::before {
    position: absolute;
    z-index: 100;
    content: '';
    height: .2em;
    top: 50%;
    width: 50%;
    background-color: red;
}

#container::after {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
    background-size: 100%;
    position: absolute;
    background-image: url('../img/barcode_bg_Tekengebied\ 1.png');
    content: '';
    border-radius: .5em;
}

button {
    width: 100%;
    height: 7.5em;
    border: 0;
    box-shadow: 0px 0px 5px gray;
    background: linear-gradient(rgb(96, 219, 47), rgb(19, 146, 14));
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: -.5em;
    border-radius: .5em;
    margin-bottom: 1em;
    color: white;
}

form {
    display: flex;
    height: 100%;
    width: 100%;
}

input[type='number'] {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 1em 0 0 1em;
    background-color: rgb(231, 231, 231);
}

input[type='number']:focus {
    outline: 1px solid #25DB30;
    outline: none;
    width: 100%;
    background-color: rgb(211, 255, 210);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

input[type='submit'] {
    border-radius: 0 1em 1em 0;
    margin-left: auto;
    background: linear-gradient(rgb(96, 219, 47), rgb(19, 146, 14));
    color: white;
    border: 0;
    padding: 1em;
    height: 100%;
    font-weight: bold;
}

.hidden {
    display: none;
}

#container video {
    width: 100%;
}

#barcode-list {
    display: none;
}

.iosWarning {
    display: none;
}

.nutriments {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.newProduct {
    color: white;
    background: linear-gradient(rgb(96, 219, 47), rgb(19, 146, 14));
    border-radius: 1em;
    padding: 1em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5.5em;
    margin-bottom: 1.5em;
}

span {
    margin-top: -1em;
}

.try {
    color: white;
    background: linear-gradient(rgb(96, 219, 47), rgb(19, 146, 14));
    border-radius: 1em;
    padding: 1em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1.5em; 
}

@supports (-webkit-touch-callout: none) {
    .iosWarning {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2em;
        border: 1px solid #25DB30;
        margin-top: -1.5em;
    }
    
    .iosWarning p:first-of-type::before, p:nth-of-type(2)::before {
        width: 0!important;
        height: 0!important;
    }
    
    .iosWarning p:first-of-type::after, p:nth-of-type(2)::after {
        width: 0!important;
        height: 0!important;
    }

    button {
        display: none;
    }
}


