*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background-color: rgb(96, 219, 47);
}

body {
    margin: 0;
    width: 100vw;
    height: 100%;
    background-color: white;
}

h1 {
    font-size: 2em;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    /* background-color: #25DB30; */
    background: linear-gradient(rgb(96, 219, 47), rgb(19, 146, 14));
    /* border-radius: 0 0 1em 1em; */
    color: white;
    margin: 0;
    padding: 1em 0 1em 0;
}

section:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5em;
    margin-bottom: 0;
}

section:first-of-type p {
    font-family: sans-serif;
    color: #25DB30;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

section:first-of-type p::before {
    content: '';
    position: absolute;
    background-color: #25DB30;
    width: 45%;
    left: 0;
    height: .1em;
}

section:first-of-type p::after {
    content: '';
    position: absolute;
    background-color: #25DB30;
    width: 45%;
    right: 0;
    height: .1em;
}

#container video {
    width: 100%;
    z-index: 0;
    position: relative;
}

#container {
    position: relative;
    display: flex;
    align-items: center;justify-content: center;
    padding: 0;
    margin-bottom: 1.5em;
}

section {
    font-family: sans-serif;
}

section:first-of-type img {
    width: 115%;
    height: 22em;
    object-fit: cover;
}

#container::before {
    position: absolute;
    z-index: 100;
    content: '';
    height: .2em;
    top: 50%;
    width: 50%;
    background-color: red;
}

#container::after {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
    background-size: 100%;
    position: absolute;
    background-image: url('../img/barcode_bg_Tekengebied\ 1.png');
    content: '';
}

#barcode-list {
    display: none;
}

.kcalList {
    display: flex;
    flex-direction: column;
    height: 22em;
    width: 90%;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-end;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}


